<div class="mw-form-paragraph-builder-wrapper">
    <div class="mw-form-paragraph-builder" ng-class="{'ng-submitted':ctrl.formSubmitted}">
        <div class="paragraph-editor" ng-form="ctrl.form" ng-if="!ctrl.isPreview">
            <md-input-container class="md-block" ng-form name="myParagraphText">
                <mw-label label-for="paragraph-textarea-{{ctrl.id}}" label-key="mwForm.paragraph.placeholder"></mw-label>
                <textarea name="errorCheck" msd-elastic class="summernote mw-form-paragraph-textarea form-control"  ng-attr-id="paragraph-textarea-{{ctrl.id}}"  ng-readonly="ctrl.readOnly" ng-model="ctrl.paragraph.html" required>{{ctrl.paragraph.html}}</textarea> 
            </md-input-container>

            <div class="form-group mw-question-type" ng-repeat="select in ctrl.options.customQuestionSelects">
                <mw-label label-for="question-{{select.key}}-{{ctrl.id}}" label-class="control-label"  label-key="{{select.label}}"></mw-label>
                <div class="form-inline">
                    <select 
                        ng-attr-id="question-{{opt.key}}-{{ctrl.id}}" 
                        ng-options="opt.label for opt in select.options track by opt.key" 
                        ng-model="ctrl.paragraph.SFKey"
                        class="form-control" 
                        ng-disabled="ctrl.readOnly" 
                        ng-required="select.required">
                    </select>
                </div>
            </div>

            <div layout="row">
                <br/>
                <md-button class="md-primary md-raised" type="button" role="button" ng-click="ctrl.save()" translate="mwForm.buttons.questionReady">
                    Ready
                </md-button>
            </div>
        </div>
        <div class="mw-preview" ng-if="ctrl.isPreview">
            <p ng-bind-html="ctrl.paragraph.html | trustAsHtml"></p>
        </div>
    </div>

</div>
