<div class="mw-form-paragraphcondition-builder-wrapper">
    <div class="mw-form-paragraphcondition-builder" ng-class="{'ng-submitted':ctrl.formSubmitted}">
        <div class="paragraphConditionTrue-editor" ng-form="ctrl.form" ng-if="!ctrl.isPreview">
            <md-input-container class="md-block" style="z-index: 10">
                <textarea class="summernote form-control" ng-attr-id="pc-true-{{ctrl.id}}"  ng-readonly="ctrl.readOnly" ng-model="ctrl.paragraphcondition.html">
                    {{ctrl.paragraphcondition.html}}
                </textarea> 
            </md-input-container>
            <md-input-container class="md-block" style="z-index: 9">
                <textarea class="summernote form-control" ng-attr-id="pc-false-{{ctrl.id}}"  ng-readonly="ctrl.readOnly" ng-model="ctrl.paragraphconditionfalse.html">
                    {{ctrl.paragraphconditionfalse.html}}
                </textarea> 
            </md-input-container>
            <md-input-container class="md-block" style="z-index: 8">
                <textarea class="summernote form-control" ng-attr-id="pc-unset-{{ctrl.id}}"  ng-readonly="ctrl.readOnly" ng-model="ctrl.paragraphconditionunset.html">
                    {{ctrl.paragraphconditionunset.html}}
                </textarea> 
            </md-input-container>
            <md-input-container class="md-block" style="z-index: 7">
                <textarea class="summernote form-control" ng-attr-id="pc-subtext-{{ctrl.id}}"  ng-readonly="ctrl.readOnly" ng-model="ctrl.paragraphconditionsubtext.html">
                    {{ctrl.paragraphconditionsubtext.html}}
                </textarea> 
            </md-input-container>

            <div class="form-group mw-question-type" ng-repeat="select in ctrl.options.customQuestionSelects">
                <md-input-container flex="100">
                    <label>Salesforce Field</label>
                    <md-select  style="min-width: 200px;" ng-model="ctrl.selecteditem.sfkey" ng-change="ctrl.saveKey(ctrl.selecteditem.sfkey)">
                        <md-option ng-repeat="opt in select.options track by opt.key" value="{{opt.key}}">
                            {{opt.label}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>

            <div layout="row">
                <br/>
                <md-button class="md-primary md-raised" type="button" role="button" ng-click="ctrl.save()" translate="mwForm.buttons.questionReady">
                    Ready
                </md-button>
            </div>
        </div>
        <div class="mw-preview" ng-if="ctrl.isPreview">
            <p ng-bind-html="ctrl.paragraphcondition.html | trustAsHtml"></p>
            <p ng-bind-html="ctrl.paragraphconditionfalse.html | trustAsHtml"></p>
            <p ng-bind-html="ctrl.paragraphconditionunset.html | trustAsHtml"></p>
            <p ng-bind-html="ctrl.paragraphconditionsubtext.html | trustAsHtml"></p>
        </div>
    </div>
</div>
