<div class="mw-form-viewer-content">
    <div class="mw-title-page">
        <div class="mw-form-description task-description">
            {{ctrl.formData.description}}
        </div>
        <md-button type="button"  ng-if="!ctrl.currentPage && !ctrl.formSubmitted" class="md-raised begin-response-button" ng-click="ctrl.beginResponse()" translate="mwForm.buttons.begin">Rozpocznij</md-button>
    </div>

    <div class="mw-form-page" ng-if="ctrl.currentPage">
        <h2 class="mw-page-title" ng-if="ctrl.currentPage.namedPage && ctrl.currentPage.name">{{ctrl.currentPage.name}}</h2>
        <div class="mw-form-page-element-list">
            <!-- ng-class="[ctrl.currentPage.elements[$index-1].rowNumber == pageElement.rowNumber || (ctrl.currentPage.elements[$index-1].rowNumber == null) ? 'float-left' : 'clear-float', ctrl.currentPage.elements[$index+1].rowNumber != pageElement.rowNumber && ctrl.currentPage.elements[$index+1].rowNumber != null ? 'width-100':'width-10']" -->
            <div class="mw-page-element" style="align-content: stretch;" 
                ng-class="[ctrl.currentPage.elements[$index-1].rowNumber == pageElement.rowNumber || 
                (ctrl.currentPage.elements[$index-1].rowNumber == null) ? 'float-left' : 'clear-float',
                {'width-100': ctrl.singleRow($index)}]" 
                ng-repeat="pageElement in ctrl.currentPage.elements | orderBy:'rowNumber'" 
                ng-switch="pageElement.type">
            {{pageElement.rowNumber}} {{ctrl.currentPage.elements[$index+1].rowNumber}} 
                <mw-form-question ng-switch-when="question" question="pageElement.question" question-response="ctrl.responseData[pageElement.question.id]"  read-only="ctrl.readOnly" on-response-changed="ctrl.onResponseChanged(pageElement)"></mw-form-question>
                
                <div class="image-element" ng-switch-when="image">
                    <figure ng-class="'align-'+pageElement.image.align">
                        <img ng-src="{{pageElement.image.src}}" ng-attr-alt="pageElement.image.caption">
                        <figcaption ng-if="pageElement.image.caption">{{pageElement.image.caption}}</figcaption>
                    </figure>
                </div>

                <div ng-switch-when="paragraph">
                    <p class="paragraph-padding" ng-bind-html="ctrl.getParseParaHtml(pageElement.paragraph.html)"></p>                    
                </div>
                
                <div ng-switch-when="paragraphcondition">
                    <div ng-init="ctrl.getSfFlagValue()">
                        <p class="task-description" ng-if="ctrl.sfFlag == 'Pass'" ng-bind-html="::ctrl.print(pageElement.paragraphcondition.html)"></p>
                        <p class="cpara-false-text" ng-if="ctrl.sfFlag == 'Fail'" ng-bind-html="::ctrl.print(pageElement.paragraphconditionfalse.html)" style="padding-bottom: 40px"></p>
                        <p class="cpara-false-text" ng-if="ctrl.sfFlag == 'unset'" ng-bind-html="::ctrl.print(pageElement.paragraphconditionunset.html)"></p>
                        <div ng-if="ctrl.sfFlag == 'Fail'">
                            <hr>
                            <span class="subtext" ng-bind-html="::ctrl.print(pageElement.paragraphconditionsubtext.html)"></span>
                        </div>
                        
                    </div>
                </div>
                <div ng-switch-when="videolink">
                    <div ng-init="ctrl.getVideoUrl()" ng-bind-html="ctrl.videourl"></div>
                </div>
                        
                    <!--<div id="element-{{$index}}" ng-init="ctrl.createDiv(pageElement, $index, ctrl.currentRowNo)">   
                    </div>-->
            </div>
        </div>
    </div>

     
</div>

<mw-form-confirmation-page 
    ng-if="ctrl.formSubmitted" 
    confirmation-message="ctrl.formData.confirmationMessage" 
    submit-status="ctrl.submitStatus">
</mw-form-confirmation-page>

<div class="mw-form-action-list form-padding" style="clear:left">
    <md-button type="button"  ng-if="ctrl.buttons.prevPage.visible" class="prev-page-button btn-next" ng-click="ctrl.goToPrevPage()"><span translate="mwForm.buttons.back">Wstecz</span></md-button>
    <md-button type="button" ng-disabled="ctrl.largeFileFlag || ctrl.invalidPhone" ng-if="ctrl.buttons.nextPage.visible && ctrl.condtionalParaFlag" class="md-raised next-page-button btn-next" ng-click="ctrl.goToNextPage()">
    
    <span ng-if="ctrl.stageNo == 0 && ctrl.totalPageLength - ctrl.currentPageNumber == 1" translate="mwForm.buttons.understand">Dalej</span>
    <span ng-if="ctrl.stageNo == 0 && ctrl.totalPageLength - ctrl.currentPageNumber != 1" translate="mwForm.buttons.saveProceed">Dalej</span>
    <span ng-if="ctrl.stageNo != 0" translate="mwForm.buttons.saveProceed">Dalej</span> </md-button>
    
    <md-button type="submit" ng-disabled="ctrl.options.disableSubmit || ctrl.largeFileFlag || ctrl.invalidPhone" ng-if="ctrl.buttons.submitForm.visible && !ctrl.readOnly && !ctrl.hideSaveButton && ctrl.condtionalParaFlag" class="next-page-button btn-next" ng-click="ctrl.submitForm()"> 
    <span translate="mwForm.buttons.saveProceed">Submit</span></md-button>
</div>
