@import "form-viewer";

.mw-question-other-answer{
  md-input-container{
    margin: 0;
  }
}

.mw-division-list{
  md-input-container{
    margin: 0;
  }
}

.task-title {
	text-align: center;
    color: #B3282D;
    font-family: Montserrat;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    margin-top: 0px;
    font-weight: 600;
}

.task-description {
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.decorated {
     overflow: hidden;
     text-align: center;
 }
 
.decorated > span {
    position: relative;
    display: inline-block;
}

.decorated > span:before, .decorated > span:after {
    content: '';
    position: absolute;
    top: 50%;
    border-bottom: 1px solid;
    width: 50px; /* half of limiter*/
    margin: 0 5px;
}
.decorated > span:before { 
  right: 100%;
}

.decorated > span:after {
    left: 100%;
}

.btn-next, .btn-next:hover {
  color: #284f5f ;
  background-color: transparent ;
  min-height: 25px;
  min-width: 110px;
  border-radius: 7px;
  font-style: italic;
  border: 2px solid #284f5f;
  font-weight: 600;
  text-transform: initial;
  margin-top: 30px;
}

md-input-container .md-placeholder, md-input-container label, md-input-container.md-default-theme .md-placeholder, md-input-container.md-default-theme label {
  color: #e5e0e1;
  font-size: 11px;
  font-style: italic;
  font-family: Open Sans;
  font-weight: initial;
  letter-spacing: 0.5px;
}

md-input-container .md-input {
  font-size: 12px;
}

.input-radio-label {
  color: #e5e0e1;
  font-size: 11px;
  font-style: italic;
  font-family: Open Sans;
  font-weight: initial;
  letter-spacing: .5px;
  padding-bottom: 10px;
  display: block;
}

md-input-container {
  margin: 0px;
}

md-radio-button .md-off, md-radio-button .md-on {
  width: 13px;
  height: 13px;
  margin-top: 3px;
}

md-radio-button.md-default-theme .md-on, md-radio-button .md-on {
    background-color: rgba(40, 79, 95, 0.87);
}

md-radio-button.md-default-theme.md-checked .md-off, md-radio-button.md-checked .md-off {
    border-color: rgba(40, 79, 95, 0.87);
}

md-radio-button .md-label { 
  color: #e5e0e1;
  font-size: 12px;
  font-style: italic;
  font-family: Open Sans;
  font-weight: initial;
  letter-spacing: .5px;
  display: block;
}

md-select.md-default-theme.ng-invalid.ng-touched .md-select-value, md-select.ng-invalid.ng-touched .md-select-value {
  color: #e5e0e1;
  font-size: 11px;
  font-style: italic;
  font-family: Open Sans;
  font-weight: initial;
  letter-spacing: 0.5px;
}
.md-select-value>span:not(.md-select-icon) {
  color: #e5e0e1;
  font-size: 11px;
  font-style: italic;
  font-family: Open Sans;
  font-weight: initial;
  letter-spacing: 0.5px;
}